$primary : #cc0000c5;
$gray: #ebebeb;
$black: #2b2b2b;
$gray-dark : #bdbdbd;
$bounce : .6s linear bounce; 

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-40px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  75%  { transform: scale(1,1)      translateY(-30px); }
  90%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.home{
  .v-image__image--cover{
    background-size: unset;
  }
}
